<table border="1">
	<thead>
		<th>Name</th>
		<th>City</th>
		<th>Country</th>
	</thead>
	<tbody>
		<tr ng-repeat="x in names">
			<td>{{x.Name}}</td>
			<td>{{x.City}}</td>
			<td>{{x.Country}}</td>
		</tr>
	</tbody>
</table>