<!DOCTYPE html>
<html>
<title>Angularjs |Tutorial</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp" ng-controller="myCntrl">
<form novalidate>
	<p>Firstname: <input type="text" ng-model="user.firstname"></p>
	<p>Lastname: <input type="text" ng-model="user.lastname"></p>
	<button ng-click="reset()">Reset</button>
</form>
<p>Form = {{user}}</p>
<p>Master = {{master}}</p>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope){
		$scope.master = {"firstname":"Amanullah", "lastname":"Aman"};
		$scope.reset = function(){
			$scope.user = angular.copy($scope.master);
		};
		$scope.reset();
	});
</script>
</body>
</html>