<!DOCTYPE html>
<html>
<title>Angularjs |Tutorial</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<form ng-app="">
	<input type="checkbox" name="in" ng-model="check">
	<h1 ng-show="check">This is my Header</h1>
	{{name}}
</form>
</body>
</html>
