<!DOCTYPE html>
<html>
<title>Angularjs |Tutorial</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="">
<form>
	<input type="radio" ng-model="myRadio" value="Sazal">Sazal
	<input type="radio" ng-model="myRadio" value="Aman">Aman
	<input type="radio" ng-model="myRadio" value="bodi">Bodi
</form>
<div ng-switch="myRadio">
	<div ng-switch-when="Sazal">
		<h1>Sazal VAlothakun</h1>
	</div>
	<div ng-switch-when="Aman">
		<h1>Aman Softograph</h1>
	</div>
	<div ng-switch-when="bodi">
		<h1>bodi Softograph</h1>
	</div>

</div>
</body>
</html>
