<!DOCTYPE html>
<html>
<title>Angularjs |Tutorial</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="">
<form>
	<select ng-model="mySelect">
		<option value="">select One</option>
		<option value="Aman">Aman</option>
		<option value="Sazal">Sazal</option>
		<option value="bodi">Bodi</option>
		<option value="ald">Ald</option>
	</select>
</form>
<div ng-switch="mySelect">
	<div ng-switch-when="Sazal">
		<h1>Sazal VAlothakun</h1>
	</div>
	<div ng-switch-when="Aman">
		<h1>Aman Softograph</h1>
	</div>
	<div ng-switch-when="bodi">
		<h1>Bodi Softograph</h1>
	</div>
<div ng-switch-when="ald">
		<h1>Each and everyone is motherfucker</h1>
	</div>

</div>
</body>
</html>
