<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<form ng-app="" name="myForm" ng-init="email='aman@softograph.com'">
	<label>Form validation</label>
	<p>Email: <input type="email" name="myEmail" ng-model="email"></p>
	<p>{{email}}<span ng-show="myForm.myEmail.$error.email"> This is not valid email</span></p>
	<p>{{email}}<span ng-show="myForm.myEmail.$dirty"> Email has been changed</span></p>
	<p>{{email}}<span ng-show="myForm.myEmail.$valid"> Email meets all criteria</span></p>
	<p>{{email}}<span ng-show="myForm.myEmail.$touched"> Email has been in focuesed</span></p>
	<p><input type="submit" name="submit"></p>
</form>
</body>
</html>
