<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style type="text/css">
	input.ng-invalid{
		background-color:gray;
	}
	input.ng-valid{
		background-color: green;
	}
	
</style>
<body>
<form ng-app="" name="myForm">
	<h2>Form validation using angular js</h2>
	<p>Email: <input type="email" name="email" ng-model="email" required autocomplete="off"></p>
	<p>Valid or not: {{email}}<span ng-show="myForm.email.$error.email">This email is not valid</span></p>
	
</form>
</body>
</html>
