<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style type="text/css">
	input.ng-invalid{
		background-color:red;
	}
	input.ng-valid{
		background-color:green;
	}
</style>
<body>
<form ng-app="" name="myForm">
	<p>Name:<input type="text" ng-model="fname" name="fname" required></p>
	<span ng-show="myForm.fname.$error.text">Please Fill up this field</span>
	<p>Email:<input type="email" ng-model="email" name="email" required></p>
	<span ng-show="myForm.email.$error.email">This is not valid email</span>
</form>

</body>
</html>
