<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<title>Angular Table with Border</title>
<style type="text/css">
	
	table, th, td {
		border: 1px solid gray;
		border-collapse: collapse;
		padding: 5px;
	}
	table tr:nth-child(odd){
		background-color: #f1f1f1;
		
	}table tr:hover{
		background-color: skyblue;

	}table tr:nth-child(even){
		background-color: #ffffff;
	}
</style>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 <p>Angular JS http request jason formate</p>
 <h1>{{alert}}</h1>
 <p><input type="search" ng-model="tableSearch" placeholder="Search"></p>
 <table width="100%">
 	<thead>
 		<th>No</th>
 		<th ng-click="orderbyMe('Name')">Name</th>
 		<th ng-click="orderbyMe('City')">City</th>
 		<th ng-click="orderbyMe('Country')">Country</th>
 	</thead>
 	<tbody>
 		<tr ng-repeat="x in myData | filter:tableSearch |  orderBy:newOrder">
 			<td>{{$index+1}}</td>
 			<td>{{x.Name}}</td>
 			<td>{{x.City|uppercase}}</td>
 			<td>{{x.Country}}</td>
 		</tr>
 	</tbody>
 	<tfoot>
 		<th>No</th>
 		<th>Name</th>
 		<th>City</th>
 		<th>Country</th>
 	</tfoot>

 </table>


</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope, $http){
		$http.post('http://www.w3schools.com/angular/customers.php').then(function(response){
			$scope.alert ="Data Found";
			$scope.myData = response.data.records;
			
		},function(response){
			$scope.alert = 'Not found';
		});

		$scope.orderbyMe = function(x){
			$scope.newOrder = x;
		}
	});
</script>
</body>
</html>
