<!DOCTYPE html>
<html>
<head>
	<title>AngularJS | Tutorial</title>
	<script type="text/javascript" src="angular.min.js"></script>
</head>
<body>
	<div ng-app="">
		<input type="text" ng-model="name">
		<p>{{name}}</p>
	</div>
</body>
</html>