<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<title>Angular | ng-options object</title>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 
<p>Select with ng-options object</p>
<select ng-model="selectedOption" ng-options="x.model for x in cars">
	<option value="">Select One</option>
	
</select>
<h2 style="color:{{selectedOption.color}}">You Selected: {{selectedOption.model}}</h2>
<h2>Color: <span style="color:{{selectedOption.color}}">{{selectedOption.color}}</span></h2>

</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope){
		$scope.cars = [
        {model : "Ford Mustang Red Color", color : "red"},
        {model : "Fiat 500 Green Color", color : "green"},
        {model : "Volvo XC90 Pink Color", color : "pink"}
    ];
	});
</script>
</body>
</html>
