<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<title>Angular | ng-repeat</title>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 
<p>Select with ng-repeat</p>
<select ng-model="selectedOption">
	<option value="">Select One</option>
	<option ng-repeat="x in names">{{x}}</option>
</select>

</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope){
		$scope.names=[1,'Aman','Awlad','Bodi','Sazal'];
	});
</script>
</body>
</html>
