<!DOCTYPE html>
<html>
<head>
	<title>AngularJS | Tutorial</title>
	<script type="text/javascript" src="../angular.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCntl">
		<button ng-disabled="mySwitch">Click Me!</button>
		<input type="checkbox" ng-model="mySwitch" >
	</div>
	<script type="text/javascript">
		var app = angular.module('myApp',[]);
		app.controller('myCntl',function($scope){
			$scope.mySwitch=true;
		});
	</script>
</body>
</html>