<!DOCTYPE html>
<html>
<head>
	<title>AngularJS | Tutorial</title>
	<script type="text/javascript" src="../angular.min.js"></script>
</head>
<body>
	<div ng-app="" ng-init="val=10">
		Name:<input ng-show="true" type="text" ng-model="name">
		<p>{{name}}</p>
		vill:<input ng-show="false" type="text" ng-model="name1">
		<p>{{name1}}</p>
		<p ng-show="val>5">This ({{val}}) is grather then 5.</p>
		<p ng-show="val<5">This is less then 5.</p>
	</div>
</body>
</html>