<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="myapp.js"></script>
<script type="text/javascript" src="myControl.js"></script>
<body>
<div ng-app="myapp" ng-controller="mycntrl" w3-test-directive>
	<h3>Creating module and adding congroller</h3>
	{{firstname+" "+lastname}}
</div>
<script type="text/javascript">
	app.directive('w3-TestDirective',function(){
		return{
			template	: "I was made in a directive consturctor!"
		}
	});
</script>
</body>
</html>
