<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="mymodule" ng-controller="mycntrl">
 
	<h1>creating module</h1>
	{{fname +" "+ lname}}

</div>
	<script>
		var app = angular.module('mymodule',[]);
		app.controller('mycntrl',function($scope){
			$scope.fname='Amanullah';
			$scope.lname='Aman';
		});
	</script>
</body>
</html>