<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 
<p>Angular js application , module, controller</p>
<p>Name : <input type="text" ng-model="fname" placeholder="Enter First name here"></p>
<p>Name : <input type="text" ng-model="lname" placeholder="Enter Second name here"></p>
<h1>Full Name is:{{fname+ " "+ lname}}</h1>

</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope){
		$scope.fname='Amanullah';
		$scope.lname="Aman";
	});
	
</script>

</body>
</html>
