<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="" ng-init="fname='Amanullah'">
 
<p>Input something in the input box:{ng init}</p>
<h1>Hello {{fname}}</h1>
<h1 ng-bind='fname'>dd</h1>

</div>

</body>
</html>
