<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="">
 
<p>Input something in the input box:<sup>ng-bind</sup></p>
<p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>
<h1>Hello <span ng-bind="name"></span></h1>

</div>

</body>
</html>
