<!DOCTYPE html>
<html>
<title>Angularjs |Tutorial</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

	<div ng-app="myApp" ng-controller="myCntrl">
		<p ng-show="times>13" >this is visible paragraph.</p>
		<p ng-show="times<13">{{times}} is less then 13</p>
	</div>
	<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope){
		$scope.times = 12;
	});
	</script>
</body>
</html>
