<!DOCTYPE html>
<html>
<title>Angularjs |Tutorial</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

	<div ng-app="myApp" ng-controller="myCntrl">
		<button ng-disabled="mySwitch">Enable/Disable</button>
		<input type="checkbox" ng-model="mySwitch">
		{{mySwitch}}
	</div>
	<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope){
		$scope.mySwitch=true;
	});
	</script>
</body>
</html>
