<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 <p>Angular JS $http service</p>
<h1>{{welcome}}</h1>
</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope, $http){
		$http.get("http://localhost/angular/10.service/welcome.php").then(function(response){
			$scope.welcome = response.data;
		});
	});
</script>
</body>
</html>
