<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 <p>Angular JS $interval service</p>
<h1>{{theTime}}</h1>
</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	
	app.controller('myCntrl',function($scope, $interval){
		$scope.theTime = new Date().toLocaleTimeString();
		$interval(function(){
			$scope.theTime = new Date().toLocaleTimeString();
		},1000);
	
	});
</script>
</body>
</html>
