<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 <p>Angular JS $timeout service</p>
<h1>{{myMsg}}</h1>
<h2>{{myMsg2}}</h2>
</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	
	app.controller('myCntrl',function($scope, $timeout){
		$scope.myMsg = 'Hello World';
		$timeout(function(){
			$scope.myMsg = "How are you today?";
		},2000);
	$timeout(function(){
			$scope.myMsg2 = "How was you yesterday?";
		},4000);

	});
</script>
</body>
</html>
