<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 <p>Angular JS $location service</p>
<h1>{{myTimeOut}}</h1>
</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope,$timeout){
		$scope.myTimeOut = "Hello World";
		$timeout(function(){
			$scope.myTimeOut ="What the nice world";
		},2000);
	});
</script>
</body>
</html>
