<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 <p>Angular JS $location service</p>
<h1>{{myUrl}}</h1>
</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope, $location){
		$scope.myUrl = $location.absUrl();
	});
</script>
</body>
</html>
