<!DOCTYPE html>
<html>
<head>
	<title>AngularJS | Tutorial</title>
	<script type="text/javascript" src="../angular.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCntl">
		<select ng-model="selectedCar">
			<option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>
		</select>
		<p>{{selectedCar}}</p>
	</div>
	<script type="text/javascript">
		var app = angular.module('myApp',[]);
		app.controller('myCntl',function($scope){
			$scope.cars = [
		        {model : "Ford Mustang", color : "red"},
		        {model : "Fiat 500", color : "white"},
		        {model : "Volvo XC90", color : "black"}
		    ];
		});
	</script>
</body>
</html>