<!DOCTYPE html>
<html>
<head>
	<title>AngularJS | Tutorial</title>
	<script type="text/javascript" src="../angular.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCntl">
		<select ng-model="selectedCar" ng-options="x for (x,y) in cars">
			
		</select>
		<p>Your selected car is : <span>{{selectedCar}}</span></p>
		
	</div>
	<script type="text/javascript">
		var app = angular.module('myApp',[]);
		app.controller('myCntl',function($scope){
			$scope.cars = {
		        car01 : "Ford",
		        car02 : "Fiat",
		        car03 : "Volvo"
		    }
		});
	</script>
</body>
</html>