<!DOCTYPE html>
<html>
<head>
	<title>AngularJS | Tutorial</title>
	<script type="text/javascript" src="../angular.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCntl">
		<select ng-model="selectedCar" ng-options="y.brand for (x,y) in cars">
			
		</select>
		<p>Your selected brand is : <span>{{selectedCar.brand}}</span></p>
		<p>Your selected model is : <span>{{selectedCar.model}}</span></p>
		<p>Your selected color is : <span>{{selectedCar.color}}</span></p>
		
	</div>
	<script type="text/javascript">
		var app = angular.module('myApp',[]);
		app.controller('myCntl',function($scope){
			$scope.cars = {
			car01 : {brand : "Ford", model : "Mustang", color : "red"},
			car02 : {brand : "Fiat", model : "500", color : "white"},
			car03 : {brand : "Volvo", model : "XC90", color : "black"}
			};
		});
	</script>
</body>
</html>