<!DOCTYPE html>
<html>
<head>
	<title>AngularJS | Tutorial</title>
	<script type="text/javascript" src="../angular.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCntl">
		<button ng-click="click=click+1">Click</button>
		<h1>{{click}}</h1>
		<button ng-mouseup="up=up+1">MouseUp</button>
		<h1>{{up}}</h1>
		<button ng-mousedown="d=d+1">MouseDown</button>
		<h1>{{d}}</h1>
	</div>

	<script type="text/javascript">
		var app = angular.module('myApp',[]);
		app.controller('myCntl',function($scope){
			$scope.click=0;
		    $scope.up=0;
			$scope.d=0;
		});
	</script>
</body>
</html>