<!DOCTYPE html>
<html>
<head>
	<title>AngularJS | Tutorial</title>
	<script type="text/javascript" src="../angular.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCntl">
		<h1 ng-mouseenter="enter = enter+1">Mouse Enter</h1>
		<h1>{{enter}}</h1>

		<h1 ng-mouseover="over = over+1">Mouse over</h1>
		<h1>{{over}}</h1>

		<h1 ng-mousemove="move = move+1">Mouse move</h1>
		<h1>{{move}}</h1>

		<h1 ng-mouseleave="leave = leave+1">Mouse leave</h1>
		<h1>{{leave}}</h1>

	</div>

	<script type="text/javascript">
		var app = angular.module('myApp',[]);
		app.controller('myCntl',function($scope){
			$scope.enter=0;
			$scope.over=0;
			$scope.move=0;
			$scope.leave=0;
		});
	</script>
</body>
</html>