<!DOCTYPE html>
<html>
<head>
	<title>AngularJS | Tutorial</title>
	<script type="text/javascript" src="../angular.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCntl">
		<button ng-click="myFun()">Click Toggle</button>
		<div ng-show="shown">
			<div>A</div>
			<div>M</div>
			<div>A</div>
			<div>N</div>
		</div>
		
	</div>

	<script type="text/javascript">
		var app = angular.module('myApp',[]);
		app.controller('myCntl',function($scope){
			$scope.shown=false;
			$scope.myFun = function(){
				$scope.shown=!$scope.shown;
			}
		    
		});
	</script>
</body>
</html>