<!DOCTYPE html>
<html>
<head>
	<title>AngularJS | Tutorial</title>
	<script type="text/javascript" src="../angular.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCntl">
		<h1 ng-mousemove="myFun($event)">Mouse over</h1>
		<p>Coordinates: {{x+','+y}}</p>
	</div>

	<script type="text/javascript">
		var app = angular.module('myApp',[]);
		app.controller('myCntl',function($scope){
			$scope.x=0;
			$scope.y=0;
			$scope.myFun = function(cor){
				$scope.x = cor.clientX;
				$scope.y = cor.clientY;
			}
		});
	</script>
</body>
</html>