<!DOCTYPE html>
<html>
<head>
	<title>AngularJS | Tutorial</title>
	<script type="text/javascript" src="../angular.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCntl">
		<button ng-click="myFun()">Click</button>
		<h1>{{click}}</h1>
		
	</div>

	<script type="text/javascript">
		var app = angular.module('myApp',[]);
		app.controller('myCntl',function($scope){
			$scope.click=0;
			$scope.myFun = function(){
				$scope.click++;
			}
		    
		});
	</script>
</body>
</html>