<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="" ng-init="names=[
{name:'Aman',district:'Thakurgaon'},
{name:'Bodi',district:'Bogra'},
{name:'Sazal',district:'Jhalokathi'},
]">
 
<p>Ng Repeat: with object</p>
<ul>
	<li ng-repeat="x in names">
		{{x.name+","+x.district}}
	</li>

</ul>

</div>

</body>
</html>
