<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="" ng-init="names=['Aman','Sazal','Bodi','Belal','Awlad']">
 
<p>Ng Repeat:</p>
<ul>
	<li ng-repeat="x in names">
		{{x}}
	</li>

</ul>
{{names[2]}}
</div>

</body>
</html>
