<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
	<div ng-app="" ng-init="fname='Amanullah'; lname='Aman'; names=['Aman','Amanullah','Sujon','Bodi','Kaka']; nameObj = [
	{name:'Aman',dis:'Thakurgaon'},
	{name:'Bodi',dis:'Bogra'},
	{name:'Sazal',dis:'Barisal'},
	]">
		<label>Angular js directive</label>
		<p>Fname<input type="text" ng-model="fname"></p>
		<p>Lname<input type="text" ng-model="lname"></p>
		{{fname+" "+lname}}
		<p>Repeat: value print from names array </p>
		{{names}}
		<ul>
			<li ng-repeat="x in names">{{x}}</li>
		</ul>
		<p>Repeat: value print from namesObj Object </p>
		{{nameObj}}
		<ul>
			<li ng-repeat="o in nameObj">{{o.name+", "+o.dis}}</li>
		</ul>
		<p>Own Directives</p>
		<my-test-directive></my-test-directive>
	</div>
	<script type="text/javascript">

	</script>
</body>
</html>
