<!DOCTYPE html>
<html>
<title>Angularjs |Tutorial</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style type="text/css">
	input.ng-invalid{
		background-color: red;
	}
	input.ng-valid{
		background-color: skyblue;
	}

</style>
<body>
<form ng-app="myApp" ng-controller="myCntrl" name="myForm">
	<label>Name: </label>
	<input type="text" name="name" ng-model="fname" required>
	
	<span style="color:red;" ng-show="myForm.name.$dirty && myForm.name.$invalid">
		<span ng-show="myForm.name.$error.required">Username is required</span>
	</span>
	</br>
	</br>
	<label>Email: </label>
	<input type="email" name="email" ng-model="myEmail" required>
	<span style="color:red;" ng-show="myForm.email.$dirty && myForm.email.$invalid">
		<span ng-show="myForm.email.$error.email">Email is required</span>
		<span ng-show="myForm.email.$error.required">Email is required</span>
	</span>
	<br><br><input type="submit" value="Submit" ng-disabled="myForm.email.$dirty && myForm.email.$invalid || myForm.name.$dirty && myForm.name.$invalid">
	
</form>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope){
		$scope.fname='Amanullah';
		$scope.myEmail='aman@softograph.com';
	});
</script>
</body>
</html>
