<!DOCTYPE html>
<html>
<title>Angularjs |Tutorial</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style type="text/css">
	input.ng-valid{
		background-color: skyblue;
	}
	input.ng-invalid{
		background-color: gray;
	}
	#myInput2.ng-dirty{
		background-color: pink;
	}
	
</style>
<body>
<form ng-app="" name="myForm" ng-init="input2='Amanullah Aman'">
	<h3>Input Field</h3>
	<input type="text" name="myInput" ng-model="input" required="">
	<h4><span ng-show="myForm.myInput.$valid">Field is valid</span></h4>
	<h4><span ng-show="myForm.myInput.$invalid">Field is invalid</span></h4>

	<h3>Email</h3>
	<input type="email" name="myEmail" ng-model="email">
	<h4><span ng-show="myForm.myEmail.$invalid">Field is invalid</span></h4>
	<!-- <h4><span ng-show="myForm.myEmail.$valid">Field is valid</span></h4> -->

	<h3>2nd Input Field</h3>
	<input type="text" name="myInput2" ng-model="input2" required="" id="myInput2">
	<h4><span ng-show="myForm.myInput2.$valid">Field is valid</span></h4>
	<h4><span ng-show="myForm.myInput2.$invalid">Field is invalid</span></h4>
	<h4><span ng-show="myForm.myInput2.$touched">Field is Touched</span></h4>
	<h4><span ng-show="myForm.myInput2.$untouched">Field is UnTouched</span></h4>
	<h4><span ng-show="myForm.myInput2.$dirty">Field is Dirty</span></h4>
	<h4><span ng-show="myForm.myInput2.$pristine">Field is Pristine</span></h4>

</form>
</body>
</html>
