<!DOCTYPE html>
<html>
<title>Angularjs |Tutorial</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<form ng-app="" name="myForm" ng-init="input='Aman'">
	<h3>Input Field Valid and invalid check</h3>
	<input type="text" name="myInput" ng-model="input" required>
	<h4>Valid: <span ng-show="myForm.myInput.$valid">Field is valid</span></h4>
	<h4>InValid: <span ng-show="myForm.myInput.$invalid">Field is Invalid</span></h4>
	<h4>Dirty: <span ng-show="myForm.myInput.$dirty">Field is Changed</span></h4>
	<h4>Pristine: <span ng-show="myForm.myInput.$pristine">Field has not been modified yet</span></h4>
	<h4>Touched: <span ng-show="myForm.myInput.$touched">Field has been Touched</span></h4>
	<h4>Untouched: <span ng-show="myForm.myInput.$untouched">Field has been UNTouched</span></h4>

	<input type="text" name="myInput2" ng-model="input2" required>
	<h4>Form Dirty: <span ng-show="myForm.$dirty">Form has been Changed</span></h4>
	<h4>Form InValid: <span ng-show="myForm.$invalid">Form is Invalid</span></h4>



</form>
</body>
</html>
