<!DOCTYPE html>
<html>
<title>Angularjs |Tutorial</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<form ng-app="" name="myForm">
	<h3>Input Field</h3>
	<input type="text" name="myInput" ng-model="input" required="">
	<h4>{{myForm.myInput.$valid}}</h4>

	<h3>Email</h3>
	<input type="email" name="myEmail" ng-model="email">
	<h4>{{myForm.myEmail.$valid}}</h4>
</form>
</body>
</html>
