<!DOCTYPE html>
<html>
<title>Angularjs |Tutorial</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

<style type="text/css">
	div{
		transition: all linear 0.5s;
		height: 100px;
		width: 100%;
		background-color: skyblue;
		position: relative;
		top:0;
		left:0;
	}
	.ng-hide{
		height: 0;
		width: 0;
		background-color: transparent;
		top: -200px;
		left: 200px;
	}	
</style>

<body ng-app="myApp">

	
		<h1>Hide this DIV <input type="checkbox" ng-model="check"></h1>
	
	<div ng-hide="check">
		
	</div>
<script type="text/javascript">
	var app = angular.module('myApp',['ngAnimate']);
</script>
</body>
</html>
