<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 <p>Angular JS http request jason formate</p>
 <h1>{{alert}}</h1>
 <ul>
 	<li ng-repeat="x in myData">
 		{{x.Name+','+x.City+','+x.Country}}
 	</li>
 </ul>


</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope,$http){
		$http.get('http://www.w3schools.com/angular/customers.php').then(function(response){
			$scope.alert = response.statusText;
			$scope.myData = response.data.records;
		},function(response){
			$scope.alert = 'No data found';
		});
	});
</script>
</body>
</html>
