<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntl">
<p>Scope with ng-repeat from an array</p>
<ul>
	<li ng-repeat="x in name">
		{{x}}
	</li>
</ul>
</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntl',function($scope){
		$scope.name=['Aman','Bodi','Awlad','Sazal','Hasnat','Belal'];
	});
</script>
</body>
</html>
