<!DOCTYPE html>
<html>
<title>Angularjs |Tutorial</title>
<script src="../angular.min.js"></script>
<body ng-app="myApp" ng-controller="myCntrl">
	<div>
		<textarea rows="10" cols="40" ng-model="message"></textarea> {{message}}
		<p>
			<button ng-click="save()">Save</button>
			<button ng-click="clear()">Clear</button>
		</p>
		<p>Characters Left: <span ng-bind="left()"></span></p>
	</div>
	<!-- <script src="module.js"></script>
	<script src="controller.js"></script> -->
	<script type="text/javascript">
		var app = angular.module('myApp',[]);
			app.controller('myCntrl',function($scope){
				$scope.message = "";
				$scope.left = function(){
					return 100 - $scope.message.length;
				}
				$scope.clear = function(){
					$scope.message="";
				}
				$scope.save = function(){
					alert('Note Saved');
				}
				if($scope.message.length==50){
					alert('stop now');
				}
				
		});
	</script>
</body>
</html>
