<!DOCTYPE html>
<html>
<title>Angularjs |Tutorial</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<form ng-app="myApp" ng-controller="myCntrl">
	<input type="text" name="test" ng-model="x1">
	<br>
	<p>{{x1}}</p>
	<p>{{x1 | uppercase}}</p>
	<p>{{x2}}</p>

<script type="text/javascript">
	var app =angular.module('myApp',[]);
	app.controller('myCntrl',function($scope){
		$scope.x1 = 'aman';
		$scope.x2 = angular.uppercase($scope.x1);
	});
</script>
</form>
</body>
</html>
