<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 
<p>Angular JS Filter: Uppercase , Lowercase , currency</p>
<p>First Name : <input type="text" ng-model="fname" placeholder="Enter First name here"></p>
<p>Last  Name : <input type="text" ng-model="lname" placeholder="Enter Last name here"></p>
<h1>{{fname | uppercase}}{{" "+lname|lowercase}}</h1>
<p>Currency : <input type="number" ng-model="price" placeholder="price"></p>
{{price | currency}}
</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope){
		$scope.fname = 'Amanullah';
		$scope.lname = 'Aman';
		$scope.price = 60;
	});
</script>
</body>
</html>
