<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 
<p>Angular JS Filter: filter Input</p>
<p><input type="text" ng-model="givenInput"></p>
<ul>
	<li ng-repeat="x in names | filter:givenInput">
		{{x | ownFormat}}
	</li>
</ul>

</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.filter('ownFormat',function(){
		return function(x){
			var i,c, txt='';
			x = x.split("");
			for(i=0; i<x.length; i++){
				c = x[i];
				if(i%2==0){
					c = c.toUpperCase();
				}
				txt += c;
			}
			return txt;
		}
	});
	app.controller('myCntrl',function($scope){
		$scope.names = ['Aman','Sujon','Khan','Body','boka','Hasnat'];
	});
</script>
</body>
</html>
