<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
<table border="1" width="100%">
	<tr>
		<th ng-click="orderByMe('name')">Name</th>
		<th ng-click="orderByMe('country')">Country</th>
	</tr>
	<tr ng-repeat="x in names | orderBy:myOrder">
		<td>{{x.name}}</td>
		<td>{{x.country}}</td>
	</tr>
</table>
</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope){
		$scope.names = [
		    {name:'Jani',country:'Norway'},
		    {name:'Carl',country:'Sweden'},
		    {name:'Margareth',country:'England'},
		    {name:'Hege',country:'Norway'},
		    {name:'Joe',country:'Denmark'},
		    {name:'Gustav',country:'Sweden'},
		    {name:'Birgit',country:'Denmark'},
		    {name:'Mary',country:'England'},
		    {name:'Kai',country:'Norway'}
		];
		$scope.orderByMe = function(x){
			$scope.myOrder = x;
		}
		
	});
</script>
</body>
</html>
