<!DOCTYPE html>
<html>
<title>Angularjs |Tutorial</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

	<div ng-app="myApp" ng-controller="myCntrl">
		<h2 ng-mouseenter='enter=enter+1'>Mouse Enter</h2>
		<h2>{{enter}}</h2>

		<h2 ng-mouseover='over=over+1'>Mouse over</h2>
		<h2>{{over}}</h2>
		<h2 ng-mousemove='move=move+1'>Mouse move</h2>
		<h2>{{move}}</h2>
		<h2 ng-mouseleave='leave=leave+1'>Mouse leave</h2>
		<h2>{{leave}}</h2>

	</div>
	<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope){
		$scope.enter = 0;
		$scope.over = 0;
		$scope.move = 0;
		$scope.leave = 0;
	});
	</script>
</body>
</html>
