<!DOCTYPE html>
<html>
<title>Angularjs |Tutorial</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

	<div ng-app="myApp" ng-controller="myCntrl">
		<button ng-click="myFunc()">Click</button>
		{{click}}

	</div>
	<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope){
		$scope.click = 0;
		$scope.myFunc = function(){
			$scope.click++;
		}
		
	});
	</script>
</body>
</html>
